<h1 style="color: #fff;">Auto Peças Cimas Turbo</h1>

<a href="/pecas/new"><input type="submit" value="Registrar Novo Produto"></a>

<a href="/pecas/all"><input type="submit" value="Todos Produtos"></a>

<div style="position: relative;">
    <img src="/imgs/jailson.jpg" alt="">
    <div style="position: absolute; top: 5%; left: 22%">
        <h1 style="color: #00ffd5; font-style: italic; font-weight: 800" >A Ferramenta que você Precisava.</h1>
    </div>
</div>